@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
*{
    margin: 0;
    padding: 0;
}
.Nav_list {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-around;
    width: 80%;
    
}
.nav_principal{
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #093931;
    color: white;
    height: 62px;
    align-items: center;
   
    
}
ul {
    list-style-type: none;


}
.list_nav{
    width: 40%;

}
.nav_text{
    font-family: 'Cormorant Garamond', serif;
    color:#F5D38E;
    justify-content: center;
    width: 20%;
    text-align: center;
    font-size: 30px;
}
.section_1{
    background-color: #093931;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.div1_section{
    color: #F5D38E;
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.boton1 {
    background-color: #093931;
    border-radius: 30px;
    border: 1px solid white;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.div_boton1{
    display: flex;
    justify-content: flex-start;
    width: 100%;

}

.div2_section{
    width: 50%;
    position: relative;

}

 .div2_section figure img{
    width: 100%;
    height: 100%;
    
 }
 .figure2_div{
    position: absolute;
    z-index: 1;
    
 }
 .figure1_div{
    position: absolute;
    z-index: 0;
    
 }